* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

html {
  font-size: 10px;
}

h1 {
  font-weight: 500;
  font-size: 4.8rem; /* seria 48px 16.x referencia html 10px */
  line-height: 56px;
}

h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 32px;
}

h3 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 32px;
}

header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
  font-weight: 500;
  font-size: 1.6rem;
  position: fixed;
  background-color: #fff;
}

.nav_cabecalho {
  display: flex;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin-left: 28px;
}

.nav_cabecalho > li{
  display: flex;
  align-items: center;
  margin: 0px 12px;

}

.login, .saiba_mais, .lista_idioma_item a{
  text-decoration: none;
}
.login > label{
  display: flex;
  align-items: center;
  color: #820ad1;
}

.login > label > img, .img_login{
  margin-left: 8px;
}


.container_1 {
  background-image: url("../asserts/images/home-nubank.jpg"); /* pega toda a página, container */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_1 .titulos {
  max-width: 50%;
  color: #fff;
}

.container_1 .titulos h1 {
  margin-bottom: 16px;
}

.container_geral{
  padding: 0 64px;
  /* margin-top: 10px; */
}

.form {
  width: 330px;
  height: 300px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.form > input{
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.7);
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
}

.form > button {
  border-radius: 100px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
  color: #fff;
  color: rgba(17, 17, 17, 0.2);
  background: rgba(17, 17, 17, 0.1);
  /* background-color: #820ad1; */
}

.form > button:disabled{
  color: rgba(17, 17, 17, 0.2);
  background: rgba(17, 17, 17, 0.1);
}



.container_2{
  height: 100vh;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.h1_roxo, .label_saiba_mais{
  color: #820ad1;
  fill: #820ad1;
  
}

.label_saiba_mais{
  font-family: 'Helvetica 35 Thin', sans-serif;
}
.textos{
  width: 50%;
}

.img_sections{
  width: 40%;
  height: 80%;

}

.saiba_mais{
  display: flex;
  align-items: center;
  margin-top: 34px;
  font-size: 1.8rem;
}

.h2_container{
  font-size: 4rem;
  line-height: 48px;
  font-weight: 300;
}

.background_cinza{
  background-color: #F5F5F5;
}

.img_celular{
  width: 30%;
}

.container_roxo{
  background-color: #4C0677;
}

.texto_branco{
  color: #fff;
}


.container_final_1{
  background-image: url("../asserts/images/section.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;


}

.container_final_2{
  background-image: url("../asserts/images/section_2.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container_final_3{
  background-image: url("../asserts/images/section_3.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.div_texto_sozinho {
  width: 50%;
  
}

footer{
  background-color: black;
}

.ul_lista_footer{
  padding: 80px 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.li_lista_footer ul a label{
  color: #fff;
  font-size: 1.8rem;
  line-height: 34px;
  font-weight: 700;
}

.li_lista_footer ul a{
  text-decoration: none;  
}

.ul_primeiro{
  color: #fff;
  font-size: 1.8rem;
  line-height: 34px;
  margin-bottom: 32px;
  font-family: 'Helvetica 35 Thin', sans-serif;
}

.downloads{
  display: flex;
  flex-direction: column;
}

.section_final{
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.section_final_esquerda{
  display: flex;
}

.section_final_esquerda > div > img{
  margin-right: 40px;
}

hr{
  border: none;
  height: 1px;
  background-color: #191919;
  width: 100%;

}

.lista_idioma{
  display: flex;
  align-items: center;
  justify-content: end;
}

.lista_idioma_item_port{
  margin-right: 20px;

}

.lista_idioma_item{
  padding: 30px 0;

}

.lista_idioma_item a{
  display: flex;
}

.lista_idioma_item a p{
  color: #fff;
 
}
.span_idioma, .span_idioma_selecionado{
  box-sizing: border-box;
  border: 2.5px solid rgb(245, 245, 245);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  margin-right: 8px;
  width: 18px;
}

.span_idioma_selecionado::before{
    border-radius: 50%;
    content: " ";
    background-color: #fff;
    display: block;
    height: 6px;
    width: 6px;
}

.img_sections_mobile{
  display: none;
}

footer{
  padding: 0 64px;
  margin-bottom: 0;

}

/* .ul_lista_footer >li >ul{
  padding-left: 0;

} */










@media (max-width: 420px) {
  *{
    /* font-family: 'Helvetica 35 Thin', sans-serif; */
  }

  html{
    font-size: 6.5px; /* 30/4.8 */
    
  }
  
  .nav_cabecalho, .login, .img_sections{
    display: none;
  }

.container_1 {
    background-image: url("../asserts/images/mobile/mulher_1_mobile.png");
}

.container_final_1{
  background-image: url("../asserts/images/mobile/mulheres_andando_mobile.png");
}

.container_final_2{
  background-image: url("../asserts/images/mobile/mulheres_sentadas_mobile.png");
}

.container_final_3{
  background-image: url("../asserts/images/mobile/homem_sorrindo_mobile.png");
}


 .container_geral{
  display: block;
  padding: 0px 33px ;
}

.container_1 .titulos{
  max-width: 100%;
  padding-top: 250px;
  
}
.container_1 .titulos h3{
  margin-bottom: 10px;
}
.textos{
  width: 100%;
  
}
.img_sections_mobile{
  display: block;
}

.container_geral{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
}



.img_cel{
  max-height: 404px;
}
.div_texto_sozinho {
  width: 100%;
  
}
.container_final_1, .container_final_2, .container_final_3{
  height: 500px;
}

footer, .ul_lista_footer{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}


.ul_primeiro{
  margin-bottom: 20px;
  /* line-height: 0; */
}

.label_saiba_mais{
  margin-bottom: 0;
}
.label_saiba_mais_bottom{
  margin-bottom: 20px;
}
.li_lista_footer ul a label{
  line-height: 20px;
}

  .li_lista_footer{
  margin-bottom: 50px;

}

ul.ul_lista_footer{
  padding: 0;
}
.section_footer{
  margin-top: 40px;
}

.section_final_esquerda{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.lista_idioma{
  justify-content: center;
}


.lista_idioma{
  padding-left: 0;
}
.section_final_direita{
  display: flex;
  align-items: center;
  justify-content: center;
}





}